/config.edn

/.cpcache/ # Clojure cache

/node_modules/
/out/
/target/

/multimixture/out/

/search-by-example/out/

/spreadsheets/.publish/
/spreadsheets/out/
/spreadsheets/resources/handsontable.full.css
/spreadsheets/src/inferdb/spreadsheets/pfcas.cljc

*/out/*
*.sw*
