{:preloads [devtools.preload]
 :main "inferdb.spreadsheets.core"
 :output-dir "out"
 :output-to "out/main.js"
 :foreign-libs [{:file "node_modules/handsontable/dist/handsontable.full.js"
                 :file-min "node_modules/handsontable/dist/handsontable.min.js"
                 :provides ["yarn.handsontable"]}]
 :optimizations :none}
