{:deps {org.clojure/clojurescript {:mvn/version "1.10.520"}
        org.clojure/spec-alpha2 {:git/url "https://github.com/clojure/spec-alpha2.git"
                                 :sha "29a73a3e5fef8329c14dd44a0b151e90b86c0854"}
        binaryage/devtools {:mvn/version "0.9.10"}
        camel-snake-kebab {:mvn/version "0.4.0"}
        expound {:mvn/version "0.7.2"}
        metasoarous/oz {:mvn/version "1.6.0-alpha2"}
        reagent {:mvn/version "0.8.1"}
        re-frame {:mvn/version "0.10.6"}
        {:git/url "https://github.com/probcomp/metaprob.git"
         :sha "f7be25995f7e4bc015b34eff0edaef6e604b8139"}
        ;; probcomp/metaprob {:local/root "/home/joshua/projects/metaprob"}
        }}
