{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/clojurescript {:mvn/version "1.10.866"}
        org.clojure/core.match {:mvn/version "0.3.0"}
        org.clojure/data.csv {:mvn/version "0.1.4"}
        org.clojure/data.json {:mvn/version "0.2.6"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}
        aero/aero {:mvn/version "1.1.3"}
        binaryage/devtools {:mvn/version "0.9.11"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.0"}
        expound/expound {:mvn/version "0.7.2"}
        medley/medley {:mvn/version "1.3.0"}
        lambdaisland/uri {:mvn/version "1.4.54"}
        reagent/reagent {:mvn/version "1.1.0"}
        re-com/re-com {:mvn/version "2.13.2"}
        re-frame/re-frame {:mvn/version "1.1.1"}
        reagent-forms/reagent-forms {:mvn/version "0.5.44"}
        day8.re-frame/http-fx {:mvn/version "v0.2.0"}
        cljs-ajax/cljs-ajax {:mvn/version "0.8.1"}
        cljs-bean/cljs-bean {:mvn/version "1.7.0"}
        cljstache/cljstache {:mvn/version "2.0.6"}
        hickory/hickory {:mvn/version "0.7.1"}
        ;; This is branch: htella/20210922-fix-mmix-export
        probcomp/inferenceql.inference {:git/url "git@github.com:probcomp/inferenceql.inference.git"
                                        :sha "0a6ce60408e19e316d799ddaca80d75f5d5c6aaf"}
        probcomp/inferenceql.query {:git/url "git@github.com:probcomp/inferenceql.query.git"
                                    :sha "0241ee57e059f618ae55b2ae8822986d778b0d68"}
        ;; This is branch: htella/20210720-js-xcat-import
        probcomp/inferenceql.auto-modeling {:git/url "git@github.com:probcomp/inferenceql.auto-modeling.git"
                                            :sha "86e71b4eed9915699cc7b8a95a48446b1a504306"}
        probcomp/metaprob {:git/url "https://github.com/probcomp/metaprob.git"
                           :sha "8dc9d09f747c1e29886bb9628a0110c6f6bc6f5a"}}
 :paths ["src"
         "resources"]
 :aliases {:test {:extra-paths ["test"
                                "test-resources"]
                  :extra-deps {org.clojure/test.check {:mvn/version "0.10.0"}
                               lambdaisland/kaocha {:mvn/version "1.0.861"}
                               lambdaisland/kaocha-junit-xml {:mvn/version "0.0.76"}
                               com.lambdaisland/kaocha-cljs {:mvn/version "1.0.93"}}}
           :figwheel {:extra-paths ["figwheel-target"]
                      :extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.14"}
                                   com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}}
           :reframe-10x {:extra-deps {day8.re-frame/re-frame-10x {:mvn/version "1.1.11"}}}}}
