#kaocha/v1
{:tests [{:id :aide
          :source-paths ["aide/src"]
          :test-paths ["aide/test"]}
         {:id :cgpm
          :source-paths ["cgpm/src"]
          :test-paths ["cgpm/test"]}
         {:id :search-clj
          :source-paths ["search-by-example/src"]
          :test-paths ["search-by-example/test"]}
         {:id :search-cljs
          :type :kaocha.type/cljs
          :cljs/timeout 20000
          :source-paths ["search-by-example/src"]
          :test-paths ["search-by-example/test"]}
         {:id :spreadsheets-clj
          :source-paths ["spreadsheets/src"]
          :test-paths ["spreadsheets/test"]}]}
