#kaocha/v1
{:tests [{:id :aide
          :source-paths ["aide/src"]
          :test-paths ["aide/test"]}
         {:id :cgpm
          :source-paths ["cgpm/src"]
          :test-paths ["cgpm/test"]}
         {:id :multimixture
          :source-paths ["multimixture/src"]
          :test-paths ["multimixture/test"]}
         {:id :multimixture-cljs
          :type :kaocha.type/cljs
          ;; The time it takes to load our this test suite exceeds the default
          ;; threshold. We're not sure if the default threshold is unreasonably
          ;; low, or if there is something usual about our test suite that makes
          ;; it take so long, but at this point we don't think there would be
          ;; much value in investigating further.
          :cljs/timeout 30000
          :source-paths ["multimixture/src"]
          :test-paths ["multimixture/test"]}]}
