{:data #csv "data.csv"
 :schema  #edn "schema.edn"
 :model #edn "xcat-model.edn"
 :js-model-template #txt "templates/model.js.mustache"
 :cluster-fn-template #txt "templates/cluster.js.mustache"

 ;:gene-recs #csv "gene-extra-info/gene-recs.csv"
 ;:gene-growth-curves #csv "gene-extra-info/growth-curves-mean.csv"}

 :gene-selection-list-rec #edn "gene-extra-info/gene-selection-list-rec.edn"
 :gene-selection-list-not-rec #edn "gene-extra-info/gene-selection-list-not-rec.edn"
 :plot-data-rec #edn "gene-extra-info/plot-data-rec.edn"
 :plot-data-not-rec #edn "gene-extra-info/plot-data-not-rec.edn"}
