[
 ;; table 1
 {:column-names [:foo :bar]
  :rows [{:foo 1 :bar 1}
         {:foo 1 :bar 1}
         {:foo 1 :bar 1}
         {:foo 1 :bar 1}]}

 ;; table 2
 {:column-names [:zip :zap :zoo]
  :rows [{:zip 1 :zap 2 :zoo 3}
         {:zip 1 :zap 2 :zoo 3}]}

 ;; table 3
 {:column-names [:age :gender :height]
  :rows [{:age 77 :gender "male" :height 200}
         {:age 77 :gender "male" :height 200}
         {:age 77 :gender "male" :height 200}
         {:age 77 :gender "male" :height 200}
         {:age 77 :gender "male" :height 200}
         {:age 77 :gender "male" :height 200}
         {:age 77 :gender "male" :height 200}
         {:age 77 :gender "male" :height 200}
         {:age 77 :gender "male" :height 200}
         {:age 77 :gender "male" :height 200}
         {:age 77 :gender "male" :height 200}
         {:age 77 :gender "male" :height 200}
         {:age 77 :gender "male" :height 200}
         {:age 77 :gender "male" :height 200}]}

 ;; table 4
 {:column-names [:age :gender :height]
  ;; no values for column :height.
  ;; mising values for gender.
  :rows [{:age 77 :gender "male"}
         {:age 77}
         {:age 77 :gender nil}]}]
