/* --------------- utility classes --------------- */

.flex-box-space-filler-60 {
  flex: auto;
  min-width: 60px;
  z-index: -1;
}

.flex-box-space-filler-20 {
  flex: auto;
  min-width: 20px;
  z-index: -1;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* --------------- styling for the toolbar --------------- */

#toolbar {
  display: flex;
  min-height: 90px;
  margin-top: 10px;
  margin-bottom: -5px;
  margin-left: 0px;
  margin-right: 14px;
}
/* --------------- styling for search input --------------- */

#search-section {
  width: 100%;
  min-width: 350px;
  max-width: 1200px;
  font-size: 14px;
  margin-bottom: 12px;
}

#search-buttons {
  margin-top: 0px;
}

#search-input {
  width: 100%;
  height: 100px;
  min-height: 60px;
  max-height: 250px;
  resize: vertical;
  font-size: 14px;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: #333;

  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #bbbbbb;
  outline-width: 0;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 6px;
}

.toolbar-button {
  align-self: center;
  margin-right: 6px;
  padding: 4px .8em;
  height: 30px;
  font-family: roboto;
}

/* --------------- styling for handsontables --------------- */

.ht_master tr td {
  font-family: roboto;
  font-size: 14px;
}

/* All headers */
.handsontable th {
  font-size: 12px;
}

.handsontable .htDimmed {
  color: #676767;
}

/*
Still working on this.
#table-container {
  background: #f5f5f5;

  /* This is like setting a border-top of 1px width expect that this border
  extends into the div instead of outside of it. This way the table will cover
  this border when it appears, thereby avoiding a double border. */
  //box-shadow:inset 0px 1px 0px 1px #e7e7e7;

  border-bottom: solid;
  border-right: solid;
  border-width: 1px;
  border-color: #e7e7e7;
}
*/

/* --------------- styling for vega-vizualization --------------- */

#vg-tooltip-element.vg-tooltip.custom-theme table {
  font-size: .75rem;
}

/* re-com */



/*----------------------------------------------------------------------------------------
  Flexbox "display" styles
  Requires 2 display values which we can't represent in a Clojure map
----------------------------------------------------------------------------------------*/

.display-flex {
    display: -webkit-flex;
    display: flex;
}
.display-inline-flex {
    display: -webkit-inline-flex;
    display: inline-flex;
}

.zmdi-hc-fw-rc {
  width: 1em;
  text-align: center;
}

.rc-typeahead-suggestions-container {
    position: absolute;
    width: 100%;
    background-color: #eee;
}

.rc-typeahead-suggestion {
    background-color: #eee;
    padding: 0.4em;
}

.rc-typeahead-suggestion.active {
    background-color: #ddd;
}

