/* --------------- styling for vega-vizualization --------------- */

#vg-tooltip-element.vg-tooltip.custom-theme table {
  font-size: .75rem;
}

/* --------------- styling for handsontables --------------- */

.ht_master tr td {
  font-family: roboto;
  font-size: 14px;
}

.handsontable th {
  font-family: roboto;
  font-size: 14px;
}

.handsontable .htDimmed {
  color: #676767;
}