/* --------------- global settings --------------- */

html {
  font-size: 16px;
}

body {
  font-family: Roboto, 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333;
  margin: 0px
}

div {
  margin: 0px
}

/* --------------- utility classes --------------- */

.flex-box-space-filler-60 {
  flex: auto;
  min-width: 60px;
  z-index: -1;
}

.flex-box-space-filler-20 {
  flex: auto;
  min-width: 20px;
  z-index: -1;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* --------------- styling for the toolbar --------------- */

#toolbar {
  display: flex;
  min-height: 90px;
  margin-top: 10px;
  margin-bottom: -5px;
  margin-left: 10px;
  margin-right: 14px;
}
/* --------------- styling for search input --------------- */

#search-section {
  width: 100%;
  min-width: 350px;
  max-width: 1200px;
  font-size: .875rem;
}

#search-buttons {
  margin-top: 5px;
  /* This positions #search-buttons so that more-menu-icon hangs off of #search-input. */
  margin-right: -30px;
}

#search-input {
  width: 100%;
  height: 150px;
  min-height: 60px;
  max-height: 250px;
  resize: vertical;
  font-size: .875rem;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: #333;

  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #bbbbbb;
  outline-width: 0;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 6px;
}

.toolbar-button {
  align-self: center;
  margin-left: 6px;
  padding: 4px .8em;
  border-width: 1px;
  border-style: solid;
  border-color: #c4c4c4;
}

/* --------------- styling for more button and menu --------------- */

.toolbar-button.more-button {
  padding: 0px;
  border: 0px;
  border-radius: 24px;
  height: 20px;
  width: 20px;
  background-color: #f0f0f0;
}

.more-icon {
  height: 20px;
  width: 20px;
  pointer-events: none;
  /* Color settings for the icon are inside the icon svg file itself. */
}

.more-menu {
  width: 200px;
  box-shadow: 1px 1px 8px 0px #BBB;
}

.more-menu-item {
  justify-content: center;
  width: 100%;
  height: 30px;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 15px;
}

.more-menu-item:hover {
  background-color: #C8C8C9
}

/* --------------- styling for selection color selector --------------- */

#color-selector {
  flex-shrink: 0;
  width: 80px;
  font-size: .75rem;
  line-height: 16px;
}

#color-selector .list-group {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 80px;
}

#color-selector .list-group-item {
  padding: 5px 15px;
  line-height: 12px;
}

#color-selector .list-group-item.active.blue {
  background-color: #e8f0ff;
  border-color: rgb(75, 137, 255);
  color: #333;
}

#color-selector .list-group-item.active.green {
  background-color: #effeeb;
  border-color: rgb(75, 137, 255);
  color: #333;
}

#color-selector .list-group-item.active.red {
  background-color: rgb(255, 234, 232);
  border-color: rgb(75, 137, 255);
  color: #333;
}

.selection-layers-header {
  font-size: .875rem;
}

/* --------------- styling for vega-vizualization --------------- */

#viz-container {
  display: flex;
}

#vg-tooltip-element.vg-tooltip.custom-theme table {
  font-size: .75rem;
}

/* --------------- styling for table controls --------------- */

#table-controls {
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: .875rem;
}

.table-button {
  align-self: center;
  margin-left: 6px;
  padding: 0em .2em
}

/* --------------- styling for handsontables --------------- */

#table-container {
  background: #f5f5f5;

  /* This is like setting a border-top of 1px width expect that this border
  extends into the div instead of outside of it. This way the table will cover
  this border when it appears, thereby avoiding a double border. */
  box-shadow:inset 0px 1px 0px 0px #e7e7e7;

  border-bottom: solid;
  border-width: 1px;
  border-color: #e7e7e7;
}

.ht_master tr td {
  font-size: .875rem;
}

.handsontable th {
  font-size: .875rem;
}

.virtual .ht_master tr td {
  background-color: #FAFCE4;
}

.handsontable tr td.editable-cell {
  font-weight: 400;
  font-style: italic;
  background-color: #ececec;
}

.handsontable tr td.label-cell {
  font-weight: 600;
  font-style: normal;
}

.handsontable tr td.selected-row {
  background-color: palegoldenrod;
}

/* These are selectors for coloring the background of single-cell selections
and multiple cell selections. The td.area:before selector applies to multiple cell selections,
while td.current:before applies to single cell selections. */

.red-highlight .handsontable td.area:before,
.red-highlight .handsontable td.current:before {
    background-color: #FF0000;
}

.green-highlight .handsontable td.area:before,
.green-highlight .handsontable td.current:before {
    background-color: #00FF00;
}

.blue-highlight .handsontable td.area:before,
.blue-highlight .handsontable td.current:before {
    background-color: #005EFF;
}

/* These css selector definitions enable cell background highlighting for single
cell selections. Handsontable by default does not highlight single cell selections.
These selector definitions were mostly taken from Handsontable's method of highlighting multiple
cell selections.

A special not about the use of :not(.area). Handsontable applies the .area and .current classes
to the first cell in a mutliple cell selection. To avoid having styles applied from Handsontable's
css classes for .area and our styles for .current, these following selectors have the :not(.area)
psuedo-class applied. */

.handsontable td.current:not(.area) {
  position: relative;
}

.handsontable td.current:not(.area):before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  bottom: -100%\9; /* Fix for IE9 to spread the ":before" pseudo element to 100% height of the parent element */
  opacity: 0.1;
}

/* --------------- styling for js-model code view --------------- */

.program-display {
  padding: 8px;
  background-color: #f0f0f0;
  border-left: 2px solid #ccc;
  border-width: 0px 0px 0px 2px;
  border-radius: 0px;
}

.program-display code {
  border: none;
  padding: 0px;
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
}

/* --------------- styling for js-function entry modal popup --------------- */

.js-function-entry-modal {
  background-color: white;
  padding:          16px;
  border-radius:    6px;
  text-align: center;
}

.code-editor {
  font-size: .875rem;
  width: 100%;
  height: 400px;
}

/* -----------------------------------------------------*/

.cat-group {
  display: inline-block;
  margin: 10px;
  border: 10px;
  border-bottom-style: solid;
}

.cat-group-container {
  display: inline-block;
}

.cat-group-highlighted {
  border-width: 0px 0px 0px 2px;
  background-color: #f0f0f0;
  border-radius: 0px;
  border-color: crimson;
}

.cat-name {
  display: inline-block;
  border: #d8d8d8;
  border-style: solid;
  border-width: 1px;
  padding: 2px 5px;
  margin: 0px;
  border-radius: 10px;
}

.cat-weight {
  display: inline-block;
  padding: 2px;
  margin: 0px;
}

.cats {
  display: block;
  padding: 6px 0px 0px 10px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  border-left: 2px solid #ccc;
}

.points-badge {
  border: #d8d8d8;
  border-style: solid;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
  top: -1px;
  position: relative;
}

.autocomplete {
  position: relative;
  width: 432px;
}
.autocomplete__control {
  padding: 4px 28px 4px 8px;
  border: 1px solid #c4c4c4;
  overflow: hidden;
  cursor: text;
  background: #fbfbfb;
  display: flex;
  flex-direction: row;
}
.autocomplete__control:after {
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  width: 0;
  height: 0;
  margin-top: -3px;
  border-color: #444 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  content: ' ';
}
.autocomplete__control:focus-within {
  border-color: #7FB6D4;
}
.autocomplete__control--open:after {
  border-color: transparent transparent #444 transparent;
  border-width: 0 5px 5px 5px;
}
.autocomplete__control--disabled {
  border: 1px solid #454545;
  background: #f9f9f9;
  cursor: not-allowed;
  color: #545454;
}
.autocomplete__control--disabled:after {
  border-color: #ccc transparent transparent transparent;
}
.autocomplete__input {
  border: 0;
  outline: none;
  max-width: calc(100% - 28px);
}
.autocomplete__input[disabled] {
  background: none;
}
.autocomplete__dropdown {
  position: absolute;
  z-index: 1000;
  width: 100%;
  min-width: 250px;
  background: #fff;
  border: 1px solid #444;
  margin-top: -1px;
}
.autocomplete__dropdown--above {
  margin-top: 0px;
  margin-bottom: -1px;
}
.autocomplete__dropdown--left {
  right: 0;
}
.autocomplete__dropdown-content {
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}
.autocomplete__item {
  padding: 4px 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.autocomplete__item:hover {
  background: #e3f5ff;
}
.autocomplete__item--selected {
  background: #CAECFF;
}
.autocomplete__item--active {
  background: #CBFFCA;
}
.autocomplete__selected-items {
  display: inline-block;
}
.autocomplete__selected-item {
  display: inline-block;
  border-radius: 2px;
  background: #e6e6e6;
  margin-right: 8px;
}
.autocomplete__item-text {
  padding: 2px 4px;
}
.autocomplete__no-results {
  padding: 4px 8px;
}
.autocomplete__level-1 {
  padding-left: 0px;
}
.autocomplete__level-2 {
  padding-left: 30px;
}
.autocomplete__level-3 {
  padding-left: 60px;
}
.autocomplete__level-4 {
  padding-left: 90px;
}
.autocomplete__level-5 {
  padding-left: 120px;
}
.autocomplete__level-6 {
  padding-left: 150px;
}
.autocomplete__level-7 {
  padding-left: 180px;
}
.autocomplete__level-8 {
  padding-left: 210px;
}
.autocomplete__level-9 {
  padding-left: 240px;
}
.autocomplete__level-10 {
  padding-left: 270px;
}
.autocomplete__level-11 {
  padding-left: 300px;
}
.autocomplete__level-12 {
  padding-left: 330px;
}
.autocomplete__level-13 {
  padding-left: 360px;
}
.autocomplete__level-14 {
  padding-left: 390px;
}
.autocomplete__level-15 {
  padding-left: 420px;
}
.autocomplete__level-16 {
  padding-left: 450px;
}
.autocomplete__level-17 {
  padding-left: 480px;
}
.autocomplete__level-18 {
  padding-left: 510px;
}
.autocomplete__level-19 {
  padding-left: 540px;
}
.autocomplete__level-19 {
  padding-left: 570px;
}
.autocomplete__remove-item-button {
  color: #444 !important;
  padding: 2px 4px;
  border-left: 1px solid #fff;
  cursor: pointer;
  border-radius: 0 2px 2px 0;
}
.autocomplete__remove-item-button:hover {
  background: #67ff64;
}
.autocomplete__clear-button {
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 2px 4px;
}
.autocomplete__clear-button:after {
  content: "\232B";
}
.autocomplete__highlight {
  background: #FFF1C2;
}