/* Views */

{{#views}}
function view_{{num}}_model () {
  var cluster_id = categorical([{{cluster-probs}}]) + 1;
  var ret_val;
{{#clusters}}
{{#first}}
  if (cluster_id == {{num}}) {
{{/first}}
{{^first}}
  } else if (cluster_id == {{num}}) {
{{/first}}
    ret_val = {
{{#parameters}}
     "{{name}}": {{#gaussian}}gaussian({{mu}}, {{sigma}}){{/gaussian}}{{#categorical}}{{name}}_categories(categorical([{{weights}}])){{/categorical}}{{^last}},{{/last}}
{{/parameters}}
    };{{/clusters}}
  }

  return ret_val;
}

{{/views}}
/* Model */

{{#model}}
function model() {
  {{#view-fn-nums}}
  var view_{{.}} = view_{{.}}_model();
  {{/view-fn-nums}}

  return {{{#splats}}{{^last}}...view_{{num}}, {{/last}}{{#last}}...view_{{num}}{{/last}}{{/splats}}};
}
{{/model}}
