
{{#views}}
function view_{{num}}() {
  var cluster_id = sample_categorical({{{cluster-probs}}});

{{#clusters}}
{{#first}}  if (cluster_id == "{{num}}") {
    return {
{{#parameters}}
      "{{name}}": {{#gaussian}}sample_gaussian({"mu": {{mu}}, "sigma": {{{sigma}}}}){{/gaussian}}{{#categorical}}sample_categorical({{{weights}}}){{/categorical}}{{^last}},{{/last}}
{{/parameters}}{{param-summ}}    };
{{/first}}
{{^first}}  /* Some clusters omitted. */
  } else if (cluster_id == "{{num}}") {
    return { /* Samples */ };
{{/first}}
{{/clusters}}  }
}

{{/views}}
{{#model}}function model() {
  {{#view-fn-nums}}
  var view_{{.}}_samples = view_{{.}}();
  {{/view-fn-nums}}

  return {{{#splats}}{{^last}}...view_{{num}}_samples, {{/last}}{{#last}}...view_{{num}}_samples{{/last}}{{/splats}}};
}
{{/model}}
