/* Views */

{{#views}}
function view_{{num}}() {
  var cluster_id = sample_categorical({{{cluster-probs}}});

{{#clusters}}
{{#first}}  if (cluster_id == "{{num}}") {
    return {
{{#parameters}}
      "{{name}}": {{#gaussian}}sample_gaussian({"mu": {{mu}}, "sigma": {{{sigma}}}}){{/gaussian}}{{#categorical}}sample_categorical({{{weights}}}){{/categorical}}{{^last}},{{/last}}
{{/parameters}}
    };
{{/first}}
{{^first}}
  /* Middle clusters ommited. Showing last cluster. */
  } else if (cluster_id == "{{num}}") {
    return { /* samples */ };
{{/first}}
{{/clusters}}  }
}

{{/views}}
/* Model */

{{#model}}
function model() {
  {{#view-fn-nums}}
  var view_{{.}} = view_{{.}}();
  {{/view-fn-nums}}

  return {{{#splats}}{{^last}}...view_{{num}}, {{/last}}{{#last}}...view_{{num}}{{/last}}{{/splats}}};
}
{{/model}}
