/* css changes for handsontable -- start */
.ht_master tr td {
  font-size: 14px;
}

.handsontable th {
  font-size: 14px;
}

.virtual-hot .ht_master tr td {
  background-color: #FAFCE4;
}
/* css changes for handsontable -- end */

.table-title {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 4px;
  margin-bottom: 0px;
  overflow: auto;
}

.main-title {
  float: left;
  font-weight: bold;
}

.sub-title {
  float: left;
  margin-top: 3px;
}

.sub-titel, pre {
  margin: 0.0em;
}

/* allows search input to be styled */
input[type=search]{
   -moz-appearance: none;/* older firefox */
   -webkit-appearance: none; /* safari, chrome, edge and ie mobile */
   appearance: none; /* rest */
}

input { font-size: 16px; }
button { font-size: 16px; }

body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  font-size: 1.125em;
  -webkit-font-smoothing: antialiased;
  color: #333;
}

h1 {
  font-size: 1.2em;
}

h3 {
  font-size: .8em;
  line-height: .2em;
}
