
.virtual-hot .ht_master tr td {
  background-color: #FAFCE4;
}

.control-box {
  float: left;
  border:1px solid black;
  border-style: dotted;
  line-height: 20pt;
  margin-top: 10px;
  margin-right: 10px;
  padding: 4px;
  font-size: 16px;

  hr {
    height: 1px;
  }
}

input[type=search]{
   -moz-appearance: none;/* older firefox */
   -webkit-appearance: none; /* safari, chrome, edge and ie mobile */
   appearance: none; /* rest */
}

input { font-size: 16px; }
button { font-size: 16px; }

body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding-top: 5px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1em;
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 1.2em;
}

h2 {
  font-size: 2em
}

h3 {
  font-size: .8em;
  line-height: .2em;
}
